{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Liste des recettes de l'application</h1>

    <div class="container">

        <div class="row">
            {% for recipe in recipes %}
                <div class="col-lg-4 col-12">
                    <a href="{{ path('recipe_show', {slug: recipe.slug}) }}">
                        <div class="card" style="width: 25rem;">
                            <img src="{{ asset('uploads/' ~ recipe.namePicture) }}" class="card-img-top" alt="image de la recette {{ recipe.name }}">
                            <div class="card-body">
                                <p class="card-title text-center"><strong>{{ recipe.name }}</strong></p>
                                <div class="row">
                                    <div class="col-4">
                                        <p class="card-title">{{ recipe.time }} m</p>
                                    </div>
                                    <div class="col-4">
                                        <p class="card-title">{{ recipe.difficulty.name }}</p>
                                    </div>
                                    <div class="col-4">
                                        <p class="card-title">{{ recipe.cost.name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% else %}
                Aucune recette ajoutée à l'application
            {% endfor %}
        </div>


    </div>

{% endblock %}
